name: CI
on:
  push:
    branches: [main]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  pull_request:
    branches: [main]
    paths-ignore:
      - 'README.md'
      - 'docs/**'

permissions:
  pull-requests: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm
      - run: npm ci
      - run: npm run build-checkout
      - run: NODE_OPTIONS=--openssl-legacy-provider npm run build
      - run: npm run format-check
      - run: npm run lint
      - run: npm run test
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist
      - uses: actions/upload-artifact@v4
        with:
          name: action.yml
          path: action.yml

  test:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
    needs: [build]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [built, committed]
    steps:
      - uses: actions/checkout@v5
        with:
          ref: main
      - if: matrix.target == 'built' || github.event_name == 'pull_request'
        uses: actions/download-artifact@v5
        with:
          name: dist
          path: dist
      - if: matrix.target == 'built' || github.event_name == 'pull_request'
        uses: actions/download-artifact@v5
        with:
          name: action.yml
          path: .

      - name: Rebase with head filter
        id: rebase1
        uses: ./
        with:
          token: ${{ secrets.ACTIONS_BOT_TOKEN }}
          repository: peter-evans/rebase-test-fixture-${{ matrix.target }}
          head: peter-evans:test-fixtures/1/head
      - if: steps.rebase1.outputs.rebased-count != 1
        run: exit 1

      - name: Rebase with base filter
        id: rebase2
        uses: ./
        with:
          token: ${{ secrets.ACTIONS_BOT_TOKEN }}
          repository: peter-evans/rebase-test-fixture-${{ matrix.target }}
          base: test-fixtures/2/base
      - if: steps.rebase2.outputs.rebased-count != 1
        run: exit 1

      - name: Rebase
        id: rebase3
        uses: ./
        with:
          token: ${{ secrets.ACTIONS_BOT_TOKEN }}
          repository: peter-evans/rebase-test-fixture-${{ matrix.target }}
          exclude-labels: |
            no-rebase
      - if: steps.rebase3.outputs.rebased-count < 2
        run: exit 1

  package:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v5
        with:
          name: dist
          path: dist
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.ACTIONS_BOT_TOKEN }}
          commit-message: Update distribution
          title: Update distribution
          body: |
            - Updates the distribution for changes on `main`

            Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          branch: update-distribution
